{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'title.bookmarks'|trans }}</h1>

    {% if bookmarks is defined and bookmarks|length %}

        {% for bookmark in bookmarks %}
            <dl>
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ loop.index0 }}</dd>
                <dt>{{ 'label.URL'|trans }}</dt>
                <a href="/bookmark/{{ loop.index0 }}"> <dd>{{ bookmark.URL }}</dd> </a>
            </dl>
            {% for Tag in bookmark.Tags %}
                {{ Tag }}
            {% endfor %}
        {% endfor %}

    {% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
    {% endif %}

{% endblock %}